@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg-color: #ddf7e3;
  --pr-color: #df2e38;
  --sc-color: #848484;
  --tr-color: #1db954;
  --fr-color: #141e46;
  --fv-color: #ffffff;
  --pr-light-color: #c7e8ca;
  --card-produk-color: rgb(239, 239, 239);
}

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bg-color);
  /* background: var(--bg-color); */
}

.toast {
  position: fixed;
  top: -60px;
  transition: 1s;
}
.toast.show {
  top: 200px;
  transition: 1s;
}

.w-50-to-100 {
  width: 50%;
}

.hide-to-show-block {
  display: none;
}

.margin-navbar {
  display: block;
  height: 76px;
}

.fa-brands {
  display: block;
  font-size: 1em;
}

/* navbar color */
.nav-color {
  background-color: var(--fv-color);
  transition: all-ease-in-out 0.5s;
}
/* navbar */
.nav-brand {
  font-size: 20px;
}

.nav-link {
  font-size: 16px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.nav-link:hover {
  border-bottom: 3px solid var(--tr-color);
}

.nav-link.active {
  font-weight: 700;
  color: var(--tr-color);
}

/* Hero section */

#hero {
  padding-top: 8em;
  background: white;
  /* background: linear-gradient(160deg, #c1c1c1, #fff); */
  height: fit-content;
  width: 100%;
}

.img-hero {
  width: 40%;
}

.hero-tagline h1 {
  font-weight: 700;
  color: black;
  font-size: 50px;
  line-height: auto;
  letter-spacing: 0%;
  text-align: left;
}
.hero-tagline p {
  color: black;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: left;
  line-height: 30px;
  width: 85%;
}
.hero-tagline span {
  color: var(--tr-color);
  font-weight: 700;
}

.button-lg-primary {
  padding: 10px 20px;
  width: fit-content;
  background-color: var(--tr-color);
  /* margin-left: 20vh; */
  border-radius: 8px;
  font-weight: 500;
  color: #fff;
  border-style: none;
  text-decoration: none;
  transition: 0.3s;
}

.button-lg-secondary {
  padding: 10px 20px;
  width: fit-content;
  background-color: var(--tr-color);
  /* margin-left: 20vh; */
  border-radius: 8px;
  font-weight: 500;
  color: white;
  border-style: none;
  border: 1px solid white;
  text-decoration: none;
  transition: 0.3s;
}

.button-lg-secondary:hover {
  color: var(--tr-color);
  background-color: white;
  transition: 0.5s;
}

.button-lg-primary:hover {
  color: var(--tr-color);
  background-color: #ffffff;
  transition: 0.5s;
}

/* Tentang Section */
#tentang {
  /* padding: 5em 0; */
  /* background-color: var(--pr-color); */
  padding-top: 5em;
}
h2 {
  font-size: 42px;
  font-weight: 500;
  color: var(--tr-color);
}

.sub-title {
  font-size: 18px;
  color: black;
}

.card-tentang {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  border-color: var(--tr-color);
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.circle-icon {
  width: 90px;
  height: 90px;
  background-color: var(--tr-color);
  border-radius: 50%;
  transition: all 0.1s ease-in;
}

.card-tentang h3 {
  color: #000;
  font-size: 24px;
  transition: all 0.2s ease-in;
}
.card-tentang p {
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease-in;
}

/* ketika hovver */

.card-tentang:hover {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  padding: 40px;
  background: linear-gradient(160deg, var(--tr-color), #000000);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.card-tentang:hover .circle-icon {
  background-color: #ffffff;
  transition: all 0.2s ease-in;
}

.card-tentang:hover h3 {
  color: #fff;
  font-size: 24px;
  transition: all 0.2s ease-in;
}
.card-tentang:hover p {
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease-in;
}

/* Mengapa Kami */
#mengapakami {
  background-color: var(--tr-color);
  padding: 5em 0;
}
#mengapakami h2 {
  font-size: 38px;
  font-weight: 500;
  color: #ffffff;
}
.sub-title-mengapa {
  font-size: 18px;
  color: var(--fv-color);
  /* background-color: var(--fv-color); */
}
.card-mengapa {
  width: 100%;
  height: 313px;
  padding: 40px;
  color: #ffffff;
}
.card-mengapa h3 {
  color: var(--fv-color);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 70px;
}
.circle-icon-mengapa {
  width: 120px;
  height: 120px;
  background-color: var(--tr-color);
  border-radius: 50%;
  transition: all 0.1s ease-in;
  border: 1px solid white;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle-icon-mengapa:hover {
  /* scale: 1.1; */
  transform: scale(1.1);
  z-index: -1;
}

/* Produk Kami */
#produk {
  background: whitesmoke;
  /* height: 180vh; */
  width: 100%;
  padding-bottom: 5em;
}
#container-card-produk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 1.5em;
}
#container-card-produk:not(:has(a:nth-child(4))) {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 200px));
}

.card-produk {
  flex: 1 0 200px;
  text-decoration: none;
  cursor: pointer;
}
.card-produk img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 1.5em;
  border-bottom-width: 3px;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
}
.card-produk h3 {
  color: black;
  font-size: medium;
}
/* .card1:hover div:has(.harga) {
  transform: translateX(10px);
  transition: 0.5s;
} */
.card-produk:hover img {
  border-color: var(--tr-color);
  transition: 0.5s;
}

.produk-list {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: block;
  line-height: 2.5em;
}

.produk-list:hover {
  color: white;
  background-color: black;
}

/* Maps */
#maps {
  width: 100%;
  padding-top: 1em;
  /* padding: 5em 0; */
}

#maps a {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-left: 8 px;
  /* width: 320px; */
  display: inline-block;
  color: var(--tr-color);
}

.card-maps {
  width: 100%;
  height: 100%;
}

/* Contact */
#contact {
  width: 100%;
  background-color: var(--tr-color);
  color: white;

  /* background-image: url(../assets/img/kontakimage.svg);
  background-repeat: no-repeat;
  background-size: cover; */
}

#contact h2 {
  font-size: 42px;
  font-weight: 500;
  color: white;
}

#contact .container {
  padding-top: 5em 0;
}

.contact-kecil {
  color: var(--fv-color);
  font-size: 20px;
}

.flex-responsif-reverse {
  display: flex;
  gap: 3em;
}
.flex-responsif-reverse > div {
  width: 50%;
}

.flex-responsif-normal {
  display: flex;
}

.container-gambar-besar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-gambar-besar img {
  height: 100%;
  max-height: calc(100vh - 100px);
  width: 100%;
}
.container-gambar-besar i {
  color: white;
}
.hide {
  display: none;
}
.button-beli {
  display: block;
  background-color: var(--tr-color);
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  width: fit-content;
  margin-inline: auto;
  transition: 0.2s;
}
.button-beli:hover {
  background-color: white;
  color: black;
  transition: 0.2s;
}

footer > .atas > div {
  width: 100%;
}

.dropdown-footer {
  height: 0;
  overflow-y: hidden;
  margin-bottom: 1em;
  transition: 0.3s;
}
.dropdown-footer a {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 2.5em;
}

.card-kategori {
  width: 50%;
  background-color: var(--card-produk-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 250px;
  justify-content: space-between;
  padding: 2em;
  align-items: center;
}

.card-kategori > div {
  width: 50%;
}

.card-kategori a {
  text-decoration: none;
  color: white;
  margin-right: 1em;
  cursor: pointer;
}
.card-kategori a:hover {
  text-decoration: none;
  border-bottom: 2px solid black;
  color: black;
  margin-right: 1em;
}

.card-kategori img {
  width: 220px;
  height: 50%;
  border-radius: 5px;
  float: right;
}

.card-kategori:hover {
  background-color: var(--tr-color);
  transition: 0.3s;
}

.card-kategori .card-kategori-item {
  height: 0;
  overflow-y: hidden;
  transition: height 0.3s;
}
.card-kategori:hover .card-kategori-item {
  height: fit-content;
  transition: height 0.3s;
}

.header-gambar {
  background-image: url("/assets/img/header-produk.webp");
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fr-color);
}
.text-header {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.kotak-tentang {
  text-align: center;
  border: 1px solid var(--tr-color);
  padding: 2em;
  /* height: 200px; */
  aspect-ratio: 1 / 1;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.garis {
  display: block;
  height: 2px;
  width: 100%;
  background-color: whitesmoke;
}

.input-text input {
  background: none;
  padding: 0.5em 1em;
  color: white;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.input-text input:focus {
  border: none;
  border: 2px solid white;
  outline: none;
}
.input-text input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input-textarea textarea {
  background: none;
  padding: 0.5em 1em;
  color: white;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.input-textarea textarea:focus {
  border: none;
  border: 2px solid white;
  outline: none;
}
.input-textarea textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* Produk.html */

.kategori-cek {
  height: 0;
  overflow-y: hidden;
  transition: 0.3s;
}

#kategori:checked ~ .kategori-cek {
  height: 32.5em;
  transition: 0.3s;
}

.img-produk > div {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 0.5em;
}
.img-produk img {
  width: 100%;
  border-radius: 0.7em;
}
.img-produk > div::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.img-produk .img-produk-prev {
  width: 100%;
  border-radius: 0.7em;
  margin-bottom: 0.5em;
}
.img-produk .img-produk-select {
  display: block;
  flex: 1 0 100px;
  max-width: 100px;
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.7em;
  transition: 0.2s;
}
.img-produk .img-produk-select:hover {
  border: 1px solid black;
  transition: 0.2s;
}
.img-produk .img-produk-select.selected {
  border: 1px solid var(--tr-color);
}

/* Coba Untuk footer baru */

.footer__left-menu {
  margin: 0;
  list-style: none;
  font-size: 0.9rem;
  padding: 0;
}

.footer__left-menu li {
  line-height: 1.7rem;
}
.footer__left-menu a {
  color: #555;
  text-decoration: none;
}
.footer__left-menu a:hover {
  color: var(--tr-color);
}

.footer__partner__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer__partner__payment .footer__partner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 35px;
  border: 1px solid #ddd;
  /* background-color: #ddd; */
  margin: 0 10px 10px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
}

.footer__partner__payment .footer__partner__img img {
  max-width: 100%;
  max-height: 100%;
}

.footer__service-customer .title {
  font-size: 1.2rem;
}
.footer__service-customer .fs-5 {
  font-size: 0.9rem;
}

.footer__service-customer .wa-click {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .footer__service-customer .wa-click {
    width: 40%;
  }
}
